<!doctype html>
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/profile_styles.css' %}"/>


    <!--  <h1><a href="/website/profile">{{ user.username}}</a></h1>
    <div class="vertical-line" />  -->



<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>{{ user.username }}</title>
  <meta name="author" content="Jake Rocheleau">
  <script type="text/javascript" src="{% static 'website/jquery-1.10.2.min.js' %}"></script>
<script>document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};</script>
    
</head>
<body>    
    <form action="{% url 'website:back_home' %}"
    name="back_home_form"
    method="POST">
    {% csrf_token %}
        <div id="topbar">
            <input id="backhome" type="submit" value="   Back Home   ">
            </div>
    </form>
        <div id="content" class="clearfix">
          <div id="avatar">
              <h1>{{ user.username}}</h1>
              <img  src="{{user.avatar.url}}" width="150" height="150" alt="{{user.avatar}}">
            </div>
          

            <nav id="profiletabs">
              <ul class="clearfix">
                <li><a href="#bio" class="sel">Bio</a></li>
                <li><a href="#comment_activity">Comment Activity</a></li>
                <li><a href="#post_activity">Post Activity</a></li>
                <li><a href="#settings">Settings</a></li>
              </ul>
            </nav>

          <section id="bio">
              <!--<textarea contenteditable="true"> lol</textarea>
             <input type="submit" value="Save Bio" >-->

              <form action="{% url 'website:grava_bio' %}"
                    name="form_grava_bio" method="POST"
                    >
                  {% csrf_token %}
                  <textarea id="biotextarea" contenteditable="true" name="bio" size="125" rows=5 cols=50 placeholder="Write your little bio!"></textarea>
                  <!--<input type=text name="bio" size="25" placeholder="Username" required="required" />-->
                  <br>
                  <input id="save_bio" type="submit" value="Save Bio!" class="btn btn-primary btn-block btn-large">
                  </form>






        <p>This bio describes <a>{{user.username}}</a> :</p>

        <p>{{user.bio|linebreaks}}</p>
      </section>

      <section id="post_activity" class="hidden">
            
             {% if posts_list %} 
          <ul>
              {% for post in posts_list %}
              <hr>
              <li><a href="/website/{{ post.id}}">{{post.title }}</a></li>
              {% if post.video_preview == 1 %}
                <iframe width="300" height="230"
                    src="{{post.youtube_url}}">
                    </iframe>
              
                {% elif post.image != 'notFound.png' %}
                <img src="{{post.image.url}}" alt="{{post.image}}" style="max-width: 200px;max-heigth=200px"/> 
              {% endif %}
              <li>Upvotes:{{post.upvotes}}</li>
              <br>
                {{post.post_date}}
              <a href="/website/{{post.id}}/1/delete_post"> Delete this post</a>
              <br> 
               <div class="vertical-line" /> 
               {% endfor %}
              
              {% if load_posts_button %}
            <form action="{% url 'website:profile' comment_page=comment_page %}"
                name="load_comments"
                method="POST">
                {% csrf_token %}
                <a href="/website/{{comment_page}}/profile/"><input type="submit" id="load_more_profile2" value="   Load more Posts   " name="load_button"></a>
                    </form>
              {% endif %}
           </ul>
             
             {% else %}
	           <p>This user hasn't made any Posts.</p>
                
            {% endif %}   

        
      </section>
            <section id="comment_activity" class="hidden">
             {% if comments_list %} 
          <ul>
              {% for comment in comments_list %}
              <hr>
                <li>Upvotes:{{ comment.upvotes }}</li>  
                <li><a href="/website/{{ comment.post_id}}">{{ comment.text }}</a></li>
               <br>
                <a href="/website/{{comment.id}}/0/delete_comment"> Delete Comment</a>
              {{comment.comm_date}}
               {% endfor %}
           </ul>
             
                    {% if load_comments_button %}
                <form action="{% url 'website:profile' comment_page=comment_page %}"
                name="load_comments"
                method="POST">
                {% csrf_token %}
                <a href="/website/{{comment_page}}/profile/"><input type="submit" id="load_more_profile" value="   Load more comments   " name="load_button"></a>
                    </form>
                     
                    {% endif %}
             {% else %}
	           <p>This user hasn't made any comments.</p>
                
       

   

                
            {% endif %}   

        
      </section>


      <section id="settings" class="hidden">
            <form action="{% url 'website:comment_listing_edit' %}"
	               name="form_filtro"
	               method="POST">
                {% csrf_token %}
                    <p>Choose how many comments should Althy load at once:
                    <select name="comment_listing">
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                    <option>All</option>
                    </select>
                    <input type="submit" value=" Confirm ">
                    </p>
                    </form>
        <p>Edit your user settings:</p>

        <p class="setting"><span>Username </span> {{ user.username }}</p>

        <p class="setting"><span>E-mail Address </span> {{ user.email }}</p>

        <p id="edit" class="setting"><span>Total Posts 
        </span>{{posts_list|length}}</p>
        <p class="setting"><span>Total Comments</span>{{comments_list|length}}</p>

           <form action="{% url 'website:change_data' %}" 
                name="form_change_data" method="POST"
                         enctype="multipart/form-data">
                {% csrf_token %}                        
                
               <div><p></p></div>
        
            <div id="id_field4" class="fileUpload btn btn-primary">
                        <p style="margin-bottom:5px;">Upload a new Avatar:</p>
                
                <input style="margin-bottom:10px;" type="file" class="upload" name="Avatar">
                </div>
               
    
               
                <input type="email" name="email" size="50" placeholder="New Email"/><br>                    
                <input id="save_data" type="submit" value="Save new Data" >
             </form>
          
           
          <br><a href="/website/{{user.id}}/0/profile/">Preview Your Profile!</a>
          
          
         

          
          
          
          
          

      </section>
    </div><!-- @end #content -->
<script type="text/javascript">
    $(function(){
    $('#profiletabs ul li a').on('click', function(e){
        e.preventDefault();
        var newcontent = $(this).attr('href');

        $('#profiletabs ul li a').removeClass('sel');
        $(this).addClass('sel');

        $('#content section').each(function(){
        if(!$(this).hasClass('hidden')) {   $(this).addClass('hidden'); }
        });

        $(newcontent).removeClass('hidden');
    });
    });
    
</script>
</body>
</html>