<!DOCTYPE html>
<html>
      <head>
    <meta charset="UTF-8">
    <title>Login Form</title> 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"  href="style.css" />
    </head>
<body>
      <div class="login">
          
        <h1>Sign up</h1>
        <form action="{% url 'website:grava_registo_user' %}"
        name="form_registo_user"
        method="POST">
        {% csrf_token %}
        <input type="text" name="username" size="25" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <input type="email" name="email" size="50" placeholder="Email" required="required"/>
        <input type="submit" value="Sign up" class="btn btn-primary btn-block btn-large"/>
    </form>
          <a href = "/website/show_login/" style="text-decoration: none"><h2 id="header2login">Already have an account? Just log in and share your knowledge</h2></a>
    </div>
  </body>
</html>