<!DOCTYPE html>
<html>
      <head>
    <meta charset="UTF-8">
    <title>HomePage</title> 
          <link rel="stylesheet" type="text/css"
              href="style_home.css" />
          
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                  <h1><a href="#">Althy</a></h1>
            </div>
            <div class="buttons">
                <input type="submit" value="Log in" class="btn btn-primary ">
                <input type="submit" value="Sign up" class="btn signup">
            </div>
        </div>
    </div>
   
</body>

</html>